[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
transformers = "*"
tiktoken = "*"
protobuf = "*"
sentence-transformers = "==2.2.2"
torch = "==2.1.2"
tensorflow = "==2.13.0"
tensorflow-hub = "==0.13.0"
numpy = "*"
huggingface-hub = "==0.13.3"

[dev-packages]

[requires]
python_version = "3.11"
