tensorflow==2.10.0
tensorflow-text==2.10.0
tensorflow-hub
sentence-transformers
transformers>=4.30.0
numpy==1.23.5
scikit-learn
nltk
fuzzywuzzy
python-Levenshtein
scipy
bert-score>=0.3.13
googletrans==3.1.0a0
gensim
torch
langdetect==1.0.9
datasets
tqdm
pandas
pydantic
google-genai
num2words